<div *ngIf="navigation$ | async as navigation" class="h-full pb-2 bg-primary-bg-light text-primary-text-light
    dark:bg-primary-bg-dark dark:text-primary-text-dark">
    <div *ngIf="navigation.showNavigationMenu" class="w-full pt-2 pr-3">
        <button class="mb-2 float-right rounded hover:bg-primary-highlight-light active:bg-secondary-light
            dark:hover:bg-primary-highlight-dark dark:active:bg-secondary-dark" (click)="hideNavigationMenu()">
            <app-icon>x-mark</app-icon>
        </button>
    </div>
    <div class="p-4">
        <form [formGroup]="formGroup">
            <input name="filterInput" formControlName="filter" class="w-full border p-0.5 pl-1 
                bg-tertiary-bg-light border-secondary-light hover:border-accent-blue
                dark:bg-tertiary-bg-dark dark:border-secondary-dark dark:hover:border-primary-text-dark
                focus:outline-none focus:bg-transparent placeholder:text-[#767879] placeholder:text-sm placeholder:pl-2" placeholder="Filter"/>
        </form>
    </div>
    <div *ngFor="let group of navigation.items | filterEmptyNavGroups">
        <h5 class="p-2 pl-6 text-[10px] font-bold uppercase text-secondary-text-dark">{{group.name}}</h5>
        <ul>
           <li *ngFor="let navItem of group.routes" (click)="navigationItemClicked(navItem,navigation.currentRoute)"
            class="flex items-center p-1.5 cursor-pointer text-sm 
                hover:bg-primary-highlight-light dark:hover:bg-primary-highlight-dark">
                <span class="ml-4">
                    <app-icon *ngIf="navItem.actionType !== navActionTypes.COMMUNITY_ROUTE else communityIcon" [icon]="navItem.icon"></app-icon>
                </span>
                <span class="ml-2">{{navItem.name}}</span>
            </li> 
        </ul>
        <div class="h-2"></div>
    </div>
</div>

<ng-template #communityIcon>
    <default-community-icon></default-community-icon>
</ng-template>

