<!-- Borders were at fault when opening the menu as it would move the elements inside -->
<div *ngIf="navInfo$ | async as navInfo"
    tabindex="1" 
    class="w-[270px] box-border border border-transparent rounded hover:border-[#343536]"
    [ngClass]="{'mt-[4px] !border-[#343536]' : isDropdownOpened,'hover:border-[#343536]': !navInfo.showAsAsideMenu}"
    >
    <div (click)="openClose(navInfo.showAsAsideMenu)" class="flex items-center h-[38px] box-border p-1.5"
        [ngClass]="{'cursor-pointer': !navInfo.showAsAsideMenu}">
        <span class="mr-2">
            <ng-container *ngIf="navInfo.currentRoute.actionType !== navActionTypes.COMMUNITY_ROUTE,else communityIcon" >
                <app-icon [icon]="navInfo.currentRoute.icon"></app-icon>
            </ng-container>
        </span>
        <h5 class="font-semibold flex-1 text-sm select-none">{{navInfo.currentRoute.name}}</h5>
        <span *ngIf="!navInfo.showAsAsideMenu" class="mr-1 flex items-center">
            <button (click)="showAsAsideMenu()" *ngIf="isDropdownOpened" class="items-center mr-2">
                <app-icon class="m-auto" >list</app-icon>
            </button>
            <span>
                <app-icon class="h-4 w-4">chevron-down</app-icon>
            </span>
        </span>
    </div>
    <div *ngIf="isDropdownOpened" hideOnClickAway (clickedOutsideEvent)="close()" class="scrollbar-dark block mt-1 h-[32rem] bg-[#1A1A1B] overflow-auto">
        <navigation-menu></navigation-menu>
    </div>
</div>

<ng-template #communityIcon>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class=" h-6 w-6 fill-[#0079d3] 
    bg-white rounded-full border-2 inline-block">
        <path d="M16.5,2.924,11.264,15.551H9.91L15.461,2.139h.074a9.721,9.721,0,1,0,.967.785ZM8.475,8.435a1.635,1.635,0,0,0-.233.868v4.2H6.629V6.2H8.174v.93h.041a2.927,2.927,0,0,1,1.008-.745,3.384,3.384,0,0,1,1.453-.294,3.244,3.244,0,0,1,.7.068,1.931,1.931,0,0,1,.458.151l-.656,1.558a2.174,2.174,0,0,0-1.067-.246,2.159,2.159,0,0,0-.981.215A1.59,1.59,0,0,0,8.475,8.435Z"></path>
    </svg>
</ng-template>