<div class="bg-[#151516] h-full">
    <ng-container *ngIf="postLayout !== compactLayout,else compact">
        <div class="flex flex-col items-center p-2 h-full">
            <button class="text-[#818384] hover:bg-[#272729] hover:text-[#ff4500]">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18" />
                  </svg>
            </button>
            <p class="text-xs font-bold text-white  pt-1 pb-1">10</p>
            <button class="text-[#818384] hover:bg-[#272729] hover:text-[#7193ff]">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3" />
                </svg>                             
            </button>
        </div>
    </ng-container>
</div>

<ng-template #compact>
    <div class="flex items-center h-full pl-1 pr-1">
        <button class="text-[#818384] hover:bg-[#272729] hover:text-[#ff4500]">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18" />
              </svg>
        </button>
        <p class="text-xs font-bold text-white  mr-1 ml-1">10</p>
        <button class="text-[#818384] hover:bg-[#272729] hover:text-[#7193ff]">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3" />
            </svg>                             
        </button>
    </div>
</ng-template>
