Api/bin
Api/obj
Api/Api.csproj
Application/bin
Application/obj
Application/Application.csproj
Infrastructre/bin
Infrastructre/obj
Infrastructre/Infrastructre.csproj
Domain/bin
Domain/obj
Domain/Domain.csproj

UploadedFiles
obj
.vs
.DS_STORE