Api/bin/Debug/net7.0/Api.dll
Api/bin/Debug/net7.0/Api.pdb
Api/bin/Debug/net7.0/Application.dll
Api/bin/Debug/net7.0/Application.pdb
Api/bin/Debug/net7.0/Infrastructure.dll
Api/bin/Debug/net7.0/Infrastructure.pdb
Api/obj/Debug/net7.0/Api.dll
Api/obj/Debug/net7.0/Api.pdb
Application/bin/Debug/net7.0/Application.dll
Application/bin/Debug/net7.0/Application.pdb
Application/obj/Debug/net7.0/Application.dll
Application/obj/Debug/net7.0/Application.pdb
Application/obj/Debug/net7.0/ref/Application.dll
Application/obj/Debug/net7.0/refint/Application.dll
Infrastructure/bin/Debug/net7.0/Application.dll
Infrastructure/bin/Debug/net7.0/Application.pdb
Infrastructure/bin/Debug/net7.0/Infrastructure.dll
Infrastructure/bin/Debug/net7.0/Infrastructure.pdb
Infrastructure/obj/Debug/net7.0/Infrastructure.dll
Infrastructure/obj/Debug/net7.0/Infrastructure.pdb
.vs/RedditClone/xs/project-cache/Api-Debug.json
.vs/RedditClone/xs/UserPrefs.xml
Api/bin/Debug/net7.0/Api.dll
