<div class="mt-10 w-1/2 m-auto">
    <section class="pb-2 border-b border-[#343536]">
        <h2 class="text-[#d7dadc] text-lg font-bold">Create a post</h2>
    </section>

    <section class="mt-4 rounded w-full bg-[#1a1a1b]">
        <div class="flex justify-between h-12 text-[#818384]">
            <button class="rounded-tl border border-[#343536] w-full
                hover:text-white hover:bg-[#272729] cursor-pointer ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline mb-1">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 01-2.25 2.25M16.5 7.5V18a2.25 2.25 0 002.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 002.25 2.25h13.5M6 7.5h3v3H6v-3z" />
                  </svg>
                  Post
                </button>
            <button class="rounded border border-[#343536] w-full
                hover:text-white hover:bg-[#272729] cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline mb-1">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                </svg>                  
                Images</button>
            <button class="rounded-tr border border-[#343536] w-full
                hover:text-white hover:bg-[#272729] cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline mb-1">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
                  </svg>                  
                Link</button>
        </div>

        <div class="m-4 border-b border-[#343536] pb-4">
            <text-form></text-form>
        </div>

        <div class="m-4 w-min ml-auto">
            <button class="bg-white border rounded-full w-16 font-bold text-sm p-1.5 
                hover:bg-gray-300">Post</button>
        </div>
        <div class="bg-[#272729] rounded p-4 text-[#d7dadc]">
            <p class="text-sm mb-1">Send me post reply notifications</p>
            <a class="hover:underline cursor-pointer text-sm text-sky-600">
                Connect accounts to share your post
            </a>
        </div>
    </section>

</div>