<div class="flex items-start cursor-pointer p-2" 
    [ngClass]="{'bg-[#152d40]': !notification.hasBeenRead}">
    <div class="pt-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class=" h-8 w-8 fill-[#0079d3] 
        bg-white rounded-full border-2 inline-block">
            <path d="M16.5,2.924,11.264,15.551H9.91L15.461,2.139h.074a9.721,9.721,0,1,0,.967.785ZM8.475,8.435a1.635,1.635,0,0,0-.233.868v4.2H6.629V6.2H8.174v.93h.041a2.927,2.927,0,0,1,1.008-.745,3.384,3.384,0,0,1,1.453-.294,3.244,3.244,0,0,1,.7.068,1.931,1.931,0,0,1,.458.151l-.656,1.558a2.174,2.174,0,0,0-1.067-.246,2.159,2.159,0,0,0-.981.215A1.59,1.59,0,0,0,8.475,8.435Z"></path>
        </svg>
    </div>
    <div class="ml-2 mr-2 flex-1 text-[#818384]">
        <div class="w-full ">
            <h4 class="inline-block align-middle text-[#d7dadc]">{{notification.postTitle}}</h4>
            <span class="text-sm align-middle"> • {{notification.date}}</span>
            <button class="align-middle float-right">
                <app-icon icon="ellipsis-horizontal"></app-icon>
            </button>
        </div>
        <p class="text-sm">{{notification.postTitle}}</p>
    </div>
</div>