<div class="relative w-80 min-h-fit border rounded-md overflow-hidden
    border-secondary-light bg-primary-bg-light text-primary-text-light
    dark:border-secondary-dark dark:bg-primary-bg-dark dark:text-primary-text-dark">
    <div class="absolute">
        <img [src]="'../../../../assets/images/' + feedDescription.backgroundImage"/>
    </div>
    <div class="relative p-3 pt-6">
        <div>
            <img class="inline-block w-[40px] h-[68px]" src="../../../../assets/images/snoo-feed.png"/>
            <span class="ml-4 align-middle">{{feedDescription.name}}</span>
        </div>
        <p class="text-sm mt-4">{{feedDescription.description}}</p>
        <div class="h-[1px] w-full my-4 bg-secondary-light dark:bg-secondary-dark"></div>
        <div class="font-bold">
            <button class="block w-full p-1 px-2 mb-2 rounded-md 
                text-primary-bg-light bg-accent-blue hover:bg-accent-blueBtn-hover active:bg-accent-blueBtn-active
                dark:text-primary-bg-dark dark:bg-primary-text-dark dark:hover:bg-[#c7cacc] dark:active:bg-[#a9abad]" 
                (click)="navigateToSubmitPost()">
                Create Post
            </button>
            <button class="w-full p-1 px-2 border rounded-md
                text-accent-blue border-accent-blue hover:bg-accent-secondaryBlueBnt-hover active:bg-accent-secondaryBlueBnt-active
                dark:text-primary-text-dark dark:border-primary-text-dark dark:hover:bg-[#3b3c3d] dark:active:bg-[#4e5051]" 
                (click)="openCreateCommunityModal()">
                Create Community
            </button>
        </div>
    </div>
</div>