<div class="flex w-full pr-2 overflow-hidden cursor-pointer border
    border-secondary-light bg-primary-bg-light
    dark:border-secondary-dark dark:bg-primary-bg-dark">
    <div class="flex items-center">
        <button class="ßml-2 mr-6 cursor-default text-secondary-text-dark">
            <vote-arrow></vote-arrow>
        </button>
        <button class="cursor-default text-secondary-text-dark">
            <vote-arrow [isDownvote]="true"></vote-arrow>                            
        </button>
    </div>
    <div class="flex flex-col justify-between w-full p-2">
        <div class="ml-4 h-full flex items-center">
            <div class="w-4 h-4 mr-4 rounded-full animated-background dark:animated-background-dark"></div>
            <div class="w-52 h-3 rounded animated-background dark:animated-background-dark"></div>
            <div class="w-72 h-3 ml-4 rounded animated-background dark:animated-background-dark"></div>
            <span class="flex-1"></span>
            <div class="w-24 h-3 ml-4 rounded animated-background dark:animated-background-dark"></div>
            <div class="w-10 h-3 ml-4 rounded animated-background dark:animated-background-dark"></div>
        </div>
    </div>
</div>