<div class="w-[375px]">
    <section class="p-3">
        <h3 class="inline align-middle">Notifications</h3>
        <div class="inline-block align-middle float-right text-secondary-text-dark">
            <button class="p-1 rounded hover:bg-primary-highlight-light active:bg-secondary-light
                dark:hover:bg-primary-highlight-dark dark:active:bg-secondary-dark">
                <app-icon icon="envelope-open"></app-icon>
            </button>
            <button dropdown-menu-item routerLink="/settings/notifications" 
                class="ml-2 p-1 rounded hover:bg-primary-highlight-light active:bg-secondary-light
                dark:hover:bg-primary-highlight-dark dark:active:bg-secondary-dark">
                <app-icon icon="cog-8"></app-icon>
            </button>
        </div>
    </section>
    <section>
        <notification-list></notification-list>
    </section>
    <section class="h-10 bg-tertiary-bg-light dark:bg-tertiary-bg-dark">
        <div class="w-max m-auto p-2">
            <a dropdown-menu-item routerLink="/notifications" class="uppercase cursor-pointer text-accent-blue font-semibold">See All</a>
        </div>
    </section>
</div>