<div class="flex items-center w-full h-14 p-4 rounded border font-bold
    border-secondary-light bg-primary-bg-light
    dark:border-secondary-dark dark:bg-primary-bg-dark text-secondary-text-dark">
    <button *ngFor="let trend of trends" class="flex items-center p-1 pr-2 mr-2 rounded-md 
        hover:bg-secondary-light active:bg-primary-highlight-light
        dark:hover:bg-tertiary-bg-dark dark:active:bg-secondary-dark"
        [ngClass]="{'bg-secondary-light text-accent-blue dark:bg-tertiary-bg-dark dark:text-primary-text-dark': trend.isSelected}" (click)="changeTrend(trend)">
        <app-icon [icon]="trend.icon"></app-icon>
        <span class="ml-1">{{trend.name}}</span>
    </button>
    <span class="flex-1"></span>

    <div>
        <button [dropdownMenuTriggerFor]="postLayoutMenu" class="flex items-center p-1 rounded-md 
        hover:bg-tertiary-bg-light dark:hover:bg-tertiary-bg-dark">
            <app-icon>ellipsis-horizontal</app-icon>
        </button>
        <dropdown-menu-component position="right" #postLayoutMenu>
            <ul>
                <li *ngFor="let enum of postLayout | keyvalue" dropdown-menu-item class="cursor-pointer p-2 pl-4 pr-4 text-sm 
                    hover:bg-accent-blue hover:text-primary-bg-light
                    dark:hover:bg-primary-text-dark dark:hover:text-primary-bg-dark"
                    (click)="changeLayout(enum.value)">
                    {{enum.key}}
                </li>
            </ul>
        </dropdown-menu-component>
    </div>
</div>
