<form [formGroup]="submitFormGroup" class="text-primary-text-light dark:text-primary-text-dark">
    <div class="relative">
        <input class="w-full h-9 pl-4 pr-20 border rounded text-sm bg-transparent outline-accent-blue
            border-secondary-light placeholder:text-[#cacbcc]
            dark:border-secondary-dark dark:placeholder:text-[#474748]" 
            formControlName="title" placeholder="Title" />
        <span class="absolute mt-2.5 mr-4 right-0 text-xs font-bold text-secondary-text-dark">{{submitFormGroup.get('title')?.value.length+'/300'}}</span>
    </div>
    <div class="mt-2">
        <ng-container *ngIf="submitFormGroup.get('optionalText')">
            <textarea class="w-full min-h-40 pl-4 pt-2 border rounded text-sm bg-transparent outline-accent-blue
                border-secondary-light placeholder:text-[#cacbcc]
                dark:border-secondary-dark dark:placeholder:text-[#474748]" placeholder="Text (optional)"
                formControlName="optionalText"></textarea>
        </ng-container>
        <ng-container *ngIf="submitFormGroup.get('link')">
            <input class="w-full h-12 pl-4 border rounded text-sm bg-transparent outline-accent-blue
                border-secondary-light placeholder:text-[#cacbcc]
                dark:border-secondary-dark dark:placeholder:text-[#474748]" 
            formControlName="link" placeholder="Url" />
        </ng-container>
    </div>
</form>