<div class="w-full h-20 bg-[#2d97e5]"></div>
<div class="bg-[#1a1a1b] w-full h-20 text-white">
    <div class="flex max-w-4xl ml-auto mr-auto">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class=" h-[72px] w-[72px] fill-[#0079d3] 
            bg-white rounded-full border-4 relative bottom-4">
            <path d="M16.5,2.924,11.264,15.551H9.91L15.461,2.139h.074a9.721,9.721,0,1,0,.967.785ZM8.475,8.435a1.635,1.635,0,0,0-.233.868v4.2H6.629V6.2H8.174v.93h.041a2.927,2.927,0,0,1,1.008-.745,3.384,3.384,0,0,1,1.453-.294,3.244,3.244,0,0,1,.7.068,1.931,1.931,0,0,1,.458.151l-.656,1.558a2.174,2.174,0,0,0-1.067-.246,2.159,2.159,0,0,0-.981.215A1.59,1.59,0,0,0,8.475,8.435Z"></path>
        </svg>
        <div class="mr-6 mt-2 ml-4 font-bold">
            <ng-container *ngIf="status !== LOADING_STATUS else loading">
                <h1 class="text-3xl text-[#d7dadc]">{{title}}</h1>
                <p class="text-[#818384] text-sm mt-1">r/{{name}}</p>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="animated-background w-96 h-6 mt-1 mb-4 rounded"></div>
    <div class="animated-background w-24 h-4 rounded"></div>
</ng-template>