<div class="flex justify-center mt-10">
    <div class="w-[38%]">
        <section class="pb-4 border-b font-bold text-primary-text-light border-secondary-light 
            dark:text-primary-text-dark dark:border-secondary-dark">
            <h2 class="inline text-lg">Create a post</h2>
            <button class="inline float-right rounded p-2 uppercase text-xs
                text-accent-blue hover:bg-tertiary-bg-light
                dark:text-primary-text-dark dark:hover:bg-tertiary-bg-dark" 
                (click)="openDraftsModal()">
                    Drafts
                <span class="p-0.5 rounded text-xs font-normal bg-secondary-text-dark text-white dark:text-black">0</span>
            </button>
        </section>

        <section *ngIf="userCommunities$ | async as userCommunities" class="mt-4">
            <community-select-menu 
                [userCommunitiesEntity]="userCommunities"
                [communityParam]="communityParam"
                (setCommunity)="hasSelectedCommunity($event)"                
            ></community-select-menu>
        </section>
    
        <section class="w-full mt-3 rounded bg-primary-bg-light dark:bg-primary-bg-dark">
            <div class="flex justify-between h-12 text-secondary-text-dark">
                <button *ngFor="let tab of submitFormTabs" 
                    class="w-full border-t border-b cursor-pointer text-sm font-semibold 
                    border-secondary-light hover:bg-secondary-light dark:border-secondary-dark dark:hover:bg-tertiary-bg-dark
                    first:border-l first:border-r first:rounded-tl last:border-l last:border-r last:rounded-tr
                    disabled:text-primary-text-dark dark:disabled:text-[#434445] disabled:hover:bg-inherit disabled:cursor-not-allowed"
                    [ngClass]="{'border-b-2 text-accent-blue border-b-accent-blue dark:text-primary-text-dark dark:border-b-primary-text-dark': tab.isActive}" 
                    (click)="changeCurrentTab(tab)" [disabled]="tab.disabled">
                      <app-icon class="inline" [icon]="tab.icon"></app-icon>              
                      <span class="ml-2">{{tab.name}}</span>
                </button>
            </div>
    
            <div class="m-4 pb-4 border-b border-secondary-light dark:border-secondary-dark">
                <submit-form [submitFormGroup]="submitFormGroup"></submit-form>
            </div>
            <div class="m-4 w-min ml-auto">
                <button *ngIf="createPostStatus$ | async as status" 
                    class="w-16 h-8 p-1.5 rounded-md text-sm font-bold disabled:cursor-not-allowed
                    text-white bg-accent-blue hover:bg-accent-blueBtn-hover
                    disabled:bg-secondary-text-dark disabled:hover:bg-secondary-text-dark
                    dark:bg-primary-text-dark dark:hover:bg-gray-300
                    dark:disabled:text-[#737373] dark:disabled:hover:bg-gray-400 dark:disabled:bg-gray-400"
                    (click)="submitPost()" [disabled]="canPost() && status !== LOADING_STATUS">
                    <ng-container *ngIf="status !== LOADING_STATUS,else buttonSpinner">
                        Post
                    </ng-container>
                </button>
            </div>
            <div class="p-4 rounded bg-tertiary-bg-light text-primary-text-light dark:bg-tertiary-bg-dark dark:text-primary-text-dark">
                <p class="mb-1 text-sm">Send me post reply notifications</p>
                <a class="hover:underline cursor-pointer text-sm text-accent-blue dark:text-[#4fbcff]">
                    Connect accounts to share your post
                </a>
            </div>
        </section>
    
    </div>

    <div class="ml-6 pt-4">
        <reddit-rules></reddit-rules>
    </div>
</div>

<ng-template #buttonSpinner>
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</ng-template>