<ng-container *ngIf="requestStatus$ | async as status">

    <div class="flex flex-col justify-between w-[540px] h-[523px]">
        <div class="p-4 font-semibold text-primary-text-light dark:text-primary-text-dark ">
            <div class="flex items-center justify-between mb-4">
                <h1>Create a community</h1>
                <button (click)="close()" class="hover:bg-primary-highlight-light active:bg-secondary-light
                    dark:hover:bg-primary-highlight-dark dark:active:bg-secondary-dark">
                    <app-icon>x-mark</app-icon>
                </button>
            </div>
            <div class="h-[1px] w-full bg-secondary-light dark:bg-secondary-dark"></div>
            <section class="mt-4">
                <h1>Name</h1>
                <p class="text-xs text-secondary-text-dark">Community names including capitalization cannot be changed.</p>
            </section>
            <form [formGroup]="communityFormGroup" >
                <fieldset [disabled]="status === LOADING_STATUS">
                    <section class="relative mt-4">
                        <input maxlength="21" class="w-full h-9 pl-6 text-sm border rounded bg-transparent outline-accent-blue
                            border-secondary-light dark:border-secondary-dark" formControlName="name"/>
                        <p class="mt-2 text-xs text-secondary-text-dark">{{21 - nameControl.value?.length}} Characters remaining</p>
                        <ng-container *ngIf="nameControl.errors && nameControl.dirty || nameControl.touched">
                            <ng-container *ngIf="nameControl.errors?.['required']">
                                <p class="mt-1 text-xs text-[#ff0000]">A community name is required</p>
                            </ng-container>
                            <ng-container *ngIf="nameControl.errors?.['minlength'] || nameControl.errors?.['maxlength']">
                                <p class="mt-1 text-xs text-[#ff0000]">Community names must be between 3–21 characters</p>
                            </ng-container>
                            <ng-container *ngIf="nameControl.errors?.['uniqueName']">
                                <p class="mt-1 text-xs text-[#ff0000]">Sorry, r/{{nameControl.value}} is taken. Try another.</p>
                            </ng-container>
                        </ng-container>
                        <p class="absolute top-[7.5px] left-[13px] text-sm text-secondary-text-dark">r/</p>
                    </section>
                    <section class="mt-6">
                        <h1>Community type</h1>
                        <div class="flex items-center mt-2">
                            <input type="radio" [value]="0" class="w-4 h-4 border accent-accent-blue 
                               border-secondary-light dark:border-secondary-dark" formControlName="communityType" />
                            <label class="ml-1">
                                <!-- <span class="inline-block"><app-icon classes="text-[#818384]" icon="user"></app-icon></span> -->
                                <span class="mx-2 text-sm">Public</span>
                                <span class="text-xs text-secondary-text-dark">Anyone can view, post, and comment to this community</span>
                            </label>
                        </div>
                        <div class="flex items-center mt-2">
                            <input type="radio" [value]="1"  class="w-4 h-4 border accent-accent-blue 
                                border-secondary-light dark:border-secondary-dark" formControlName="communityType"/>
                            <label class="ml-1">
                                <!-- <span class="inline-block"><app-icon classes="text-[#818384]" icon="user"></app-icon></span> -->
                                <span class="mx-2 text-sm">Restricted</span>
                                <span class="text-xs text-secondary-text-dark">Anyone can view this community, but only approved users can post</span>
                            </label>
                        </div>
                        <div class="flex items-center mt-2">
                            <input type="radio" [value]="2"  class="w-4 h-4 border accent-accent-blue 
                            border-secondary-light dark:border-secondary-dark" formControlName="communityType"/>
                            <label class="ml-1">
                                <!-- <span class="inline-block"><app-icon classes="text-[#818384]" icon="user"></app-icon></span> -->
                                <span class="mx-2 text-sm">Private</span>
                                <span class="text-xs text-secondary-text-dark">Only approved users can view and submit to this community</span>
                            </label>
                        </div>
                    </section>
                    <section class="mt-10">
                        <h1>Adult Content</h1>
                        <div class="flex items-center mt-2">
                            <input type="checkbox" class="accent-accent-blue inline" formControlName="isNsfw"/>
                            <span class="pl-1 pr-1 ml-2 mr-2 rounded text-xs bg-[#ff585b]
                                text-white dark:text-primary-text-dark">NSFW</span>
                            <span class="text-sm">18+ year old community</span>
                        </div>
                    </section>
                </fieldset>
            </form>
        </div>
        <section class="flex items-center justify-end h-16 bg-secondary-light dark:bg-secondary-dark">
            <div class="font-bold mr-4 flex">
                    <button class="mr-2 p-1 px-2 border rounded-md
                        text-accent-blue border-accent-blue hover:bg-accent-secondaryBlueBnt-hover active:bg-accent-secondaryBlueBnt-active
                        dark:text-primary-text-dark dark:border-primary-text-dark dark:hover:bg-[#3b3c3d] dark:active:bg-[#4e5051]
                        disabled:cursor-not-allowed disabled:text-[#89898a] disabled:border-[#89898a]
                        disabled:hover:bg-transparent disabled:active:bg-transparent"
                        [disabled]="status === LOADING_STATUS" 
                        (click)="close()">
                        Cancel
                    </button>
                    <button class="w-44 h-8 p-1 px-2 rounded-md
                        bg-accent-blue text-primary-bg-light hover:bg-accent-blueBtn-hover active:bg-accent-blueBtn-active
                        dark:text-primary-bg-dark dark:bg-primary-text-dark  dark:hover:bg-[#c7cacc] dark:active:bg-[#a9abad]
                        disabled:bg-[#838383] dark:disabled:bg-[#e0e0e0] dark:disabled:text-secondary-text-dark disabled:cursor-not-allowed" 
                        [disabled]="status === LOADING_STATUS || !communityFormGroup.valid"
                        (click)="createCommunity()">
                        <ng-container *ngIf="status !== LOADING_STATUS else buttonSpinner">
                            Create Community
                        </ng-container>
                    </button>
            </div>
        </section>
    </div>
</ng-container>

<ng-template #buttonSpinner>
    <div class="lds-ring mt-0.5"><div></div><div></div><div></div><div></div></div>
</ng-template>
