<div class="text-white p-6">
  <h1 class="mb-4">TEST PAGE</h1>
  <!-- <app-input placeholder="Username"></app-input> -->
  <button class="bg-sky-300 text-black" (click)="testSnackbar()">Test snackbar</button>

  <div class="animated-background w-96 h-6 rounded"></div>

  <div class="mt-4 w-96 border-red-500 border">
    <button [dropdownMenuTriggerFor]="testMenu">Open Dropdown</button>
    <dropdown-menu-component #testMenu position="center">
      <div class="w-52">
        <h1 (click)="testSnackbar()" dropdown-menu-item>Hello World</h1>
        <h1 >Hello World</h1>
        <h1 >Hello World</h1>
        <h1 >Hello World</h1>
      </div>
    </dropdown-menu-component>
  </div>
</div>