<div class="flex border w-full pr-2 cursor-pointer overflow-visible hover:border-secondary-text-dark
    bg-primary-bg-light border-secondary-light dark:bg-primary-bg-dark dark:border-secondary-dark">
    <post-upvote-buttons [postLayout]="compactLayout"></post-upvote-buttons>
    <div class="text-[#7b7d7e]  ml-1 relative flex items-center justify-center">
        <button class="rounded p-1 hover:bg-primary-highlight-light active:bg-secondary-light
            dark:hover:bg-primary-highlight-dark dark:active:bg-secondary-dark">
            <app-icon>newspaper</app-icon>
        </button>
    </div>
    <div class="flex flex-col justify-between w-full text-primary-text-light dark:text-primary-text-dark">
        <div class="m-1 ml-2">
            <h2 class="font-bold">{{post.title}}</h2>
            <div>
                <a (click)="navigateToCommunityPage()" class="text-xs font-semibold hover:underline">r/{{post.community}}</a>
                <span class="ml-1 text-xs text-[#7b7d7e]">• Posted by <span class="hover:underline">u/{{post.originalPoster}}</span> • {{post.createdAt | date}}</span>
            </div>
        </div>
    </div>
    <post-buttons [post]="post" [layout]="compactLayout"></post-buttons>
</div>