<form>
    <label class="relative block">
        <input class="bg-[#1a1a1b] rounded h-9 pl-4 border-[#343536]
        focus:border-gray-300 border focus:outline-none text-[#D7DADC]
        placeholder:text-sm placeholder:text-[#7e8082] w-full" placeholder="Title">
    </label>
    <label class="relative block mt-2">
        <textarea class="bg-[#1a1a1b] rounded h-32 pl-4 pt-4 border-[#343536]
        focus:border-gray-300 border focus:outline-none text-[#D7DADC]
        placeholder:text-sm placeholder:text-[#7e8082] w-full" placeholder="Text (optional)"></textarea>
    </label>
</form>