<div #navbarContainer class="flex items-center justify-between
    fixed w-full h-12 
    px-5 z-50 gap-8 border-b 
    border-secondary-light bg-primary-bg-light text-primary-text-light
    dark:border-secondary-dark dark:bg-primary-bg-dark dark:text-primary-text-dark">
    <navbar-logo></navbar-logo>
    <navbar-navigation class="m-auto mx-0"></navbar-navigation>
    <navbar-search class="w-1/2"></navbar-search>
    <ng-container *ngIf="isLoggedOn$ | async,else authButtons">
        <navbar-buttons></navbar-buttons>
        <user-menu></user-menu>
    </ng-container>
</div>

<ng-template #authButtons>
    <div class="flex-1">
        <auth-buttons class="float-right"></auth-buttons>
    </div>
</ng-template>
