<div class="flex w-[40rem] mb-4 overflow-visible border rounded-md
    border-secondary-light dark:border-secondary-dark">
    <div class="overflow-hidden rounded-l rounded-r-none bg-[#f7f9fa] dark:bg-[#151516]">
        <div class="flex flex-col items-center h-full p-2">
            <button class="mb-6 cursor-default text-secondary-text-dark">
                <vote-arrow></vote-arrow>
            </button>
            <button class="cursor-default text-secondary-text-dark">
                <vote-arrow [isDownvote]="true"></vote-arrow>                            
            </button>
        </div>
    </div>
    <div class="flex flex-col relative w-full p-1.5 pr-3 pt-2 rounded-r rounded-l-none 
        bg-primary-bg-light dark:bg-primary-bg-dark">
        <div class="flex items-center">
            <div class="w-44 h-4 mb-2 rounded animated-background dark:animated-background-dark"></div>
        </div>
        <div class="w-full overflow-hidden relative" > 
            <div class="w-96 h-5 mb-2 rounded animated-background dark:animated-background-dark"></div>
            <div class="w-full h-80 rounded animated-background dark:animated-background-dark"></div>
        </div>
        <div class="flex items-center mt-2">
            <div class="w-24 h-4 rounded animated-background dark:animated-background-dark"></div>
            <div class="w-6 h-4 ml-2 rounded animated-background dark:animated-background-dark"></div>
        </div>
    </div>
</div>