<ng-container *ngIf="communityData$ | async as communityData">
    <community-header 
        [name]="communityData.community?.name"
        [title]="communityData.community?.title"
        [status]="communityData.status">
    </community-header>
    <div class="flex justify-center p-4 px-6">
        <post-list [communityIdentifier]="communityData.community?.name"
                   [getCommunityStatus]="communityData.status" 
        ></post-list>
        <div >
            <about-community
                [description]="communityData.community?.description"
                [createdDate]="communityData.community?.createdAt"
                [status]="communityData.status">
            </about-community>
        </div>
    </div>
</ng-container>